* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 0.3s ease;
}
.car-details {
  padding: 3rem 1rem;
}

.des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 12px 0;
}
.des h2 span {
  padding: 8px 21px;
  color: white;
  background: rgb(195, 28, 28);
  margin: 0 10px;
  display: inline-block;
  width: fit-content;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 7px 0;
  margin: 7px;
  border: none;
}

.car-app {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex: 1 1 450px;
  gap: 1rem;
  padding: 3rem 0;
}
.car-slider {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  padding: 0.6rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.car-slider img{
  object-fit: contain;
}
.Detail-specs {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between !important;
  /* align-items: center; */
}
.D-spec h1, .D-Features h1{
  padding: 1rem 0;
  text-decoration: underline red;
}
.d-spec {
  display: flex;
  gap: 1.7rem;
  align-items: center;
}
.d-spec i{
  color: green;
}
.d-spec p {
  font-weight: lighter;
}
.d-spec span {
  font-weight: bolder;
}
.car-application {
  width: 55%;
  padding: 10px 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.car-application .head {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 25px 0;
}
.car-application .head h2 {
  font-size: 27px;
  padding: 12px 0;
}
.car-application .head h2 span {
  color: #ff0000;
}
.car-application .head div {
  width: 80px;
}
.car-application h3 {
  padding: 12px 0;
}
.car-application input {
  width: 100%;
  padding: 19px;
  border: none;
  background: rgba(115, 183, 210, 0.3);
  border-radius: 4px;
}
.car-application button {
  padding: 15px;
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  margin: 20px 0;
  background: black;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.car-application button:hover {
  background: red;
}

@media (max-width: 1250px) {
  .car-app {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .car-slider{
    width: 100%;
  }
  .car-scroll {
    width: 100%;
  }
  .car-application {
    width: 100%;
  }
  .Detail-specs{
    flex-wrap: wrap;
  }
}
