* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  transform: 0.3s ease;
  box-sizing: border-box;
}
.Footer {
  background: black;
}
.footer {
  width: 100%;
  padding: 3rem 2rem;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  color: white;
  text-align: start;
}

.section{
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  margin-top: 12px;
}
.section h2{
  font-size: 29px;
  padding: 0.6rem;
  cursor: pointer;
}
.section div{
  width: 65px;
  height: 4px;
  background: red;
  margin-left: 10px;
}
.section p{
  font-size: 17px;
  padding: 10px;
  cursor: pointer;
}
.section p:hover{
  color: red;
  padding-left: 13px;
}


.contact-info {
  margin-top: 12px;
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
}
.contact-info h2 {
  font-size: 29px;
  padding: 0.6rem;
  cursor: pointer;
}
.contact-info .underline {
  width: 65px;
  height: 4px;
  background: red;
  margin-left: 10px;
}
.footer-contact .phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
  font-size: 17px;
}
.footer-contact .email {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  padding: 0.8rem;
  font-size: 17px;
}
.socials h3 {
  padding: 0.8rem;
  font-size: 18px;
}
.socials .icons {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  margin: 1.2rem;
}
.socials .icons i {
  font-size: 35px;
  cursor: pointer;
}
.socials .icons i:hover {
  color: red;
}

.Copy {
  background: black;
}
.copy-write {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: black;
  border-top: 1.5px solid grey;
}
.copy-write p {
  font-size: 14px;
  color: white;
  padding: 6px;
}
.pay-methods {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}
.pay-methods img {
  width: 35px;
  height: 35px;
}

@media (max-width: 1100px) {
  .footer {
    flex-wrap: wrap;
    padding: 3rem 0.4rem;
  }
  .copy-write {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}

@media (min-width: 1768px) {
  .Footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    max-width: 70%;
  }
}
